* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.main-container {
    background-color: #cad8d9;
    width: 800px;
    margin: 0 auto;
}

.main-header {
    color: #4695f7;
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px 10px;
}

img {
    height: 50px;
}

.language-list {
    list-style: none;
}