* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  /* font-size: 10px; */
  /* Percentager of browser's font-size setting */
  font-size: 100%;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  width: auto;
  min-width: 320px;
  max-width: 960px;

  margin: 0 auto;
}

body {
  /* background-color: whitesmoke; */
  color: #002b36;
}
